.sidebar {
  background-color: #0C3617;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: large;
  width: 13%;
  height: calc(100vh - 9vh);
  /* ajusta pra ficar abaixo da navbar */
  top: 9vh;
  /* fica logo abaixo da navbar */
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 900;
  transition: width .2s;
}

.links {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logout {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img {
  width: 35px;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
}

/* o próprio .side-link agora é o botão/link clicável */
.side-link {
  height: 43px;
  background: none;
  cursor: pointer;
  border: none;
  border-radius: 0.8rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  transition: 0.3s;
  width: 85%;

  /* para funcionar tanto em <button> quanto em <Link> */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  text-decoration: none;
  font-family: inherit;
}

.side-link span {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.side-link:hover span {
  color: #E3B52E;
  transition: .2s;
}

/* mudar cor do ícone no hover */
.side-link:hover svg path {
  fill: #E3B52E;
  transition: .2s;
}


/* esconde o texto em telas intermediárias */
@media (max-width: 850px) {
  .side-link span {
    display: none;
  }

  .sidebar {
    width: 70px;
    top: 9vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}


@media (max-width: 530px) {
  .sidebar {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: #0C3617;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid #E3B52E;
    z-index: 999;
  }

  .links {
    flex-direction: row;
    width: auto;
    height: auto;
    margin: 0;
    gap: 45px;
  }

  .logout {
    display: none;
  }

  .side-link {
    margin: 0;
    width: auto;
    flex-direction: column;
    /* <- agora aqui */
    justify-content: center;
    text-decoration: none;
  }

  .side-link span {
    display: none;
    /* some o texto no mobile */
  }

  .img {
    width: 40px;
    margin: 0;
  }

  main,
  .content {
    padding-bottom: 70px;
  }
}