.sidebar {
    background-color: #369949;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: large;
    width: 15.7vw;
    height: 91vh;
}

.links {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.logout {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.img {
    width: 44px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.side-link {
    width: 100%;
    height: 43px;
    background-color: #369949;
    cursor: pointer;
    border: none;
    border-radius: 0.8rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    transition: 0.3s;
}


.side-link a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;

}

.side-link a:hover {
    color: #E3B52E;
    transition: 1s;
}

