* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.dashboard-page {
    display: block;
    padding-left: 15%;
    padding-top: calc(9.5vh + 20px);
    min-height: 100vh;  /* força a área a crescer */
    overflow-y: auto;   /* habilita scroll no conteúdo */
  }
  

.dashboard-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 8%;
}

.main-content::after {
    content: '';
    position: absolute;
    bottom: -8%;
    width: calc(100% - 16%);
    border-bottom: 1px solid #0D4F1D;
    border-top: 10px;
}


img.d-block {
    max-height: 460px;
    width: 1000px;
}

.carousel.slide {
    max-width: 1000px;
    height: 460px;
    left: 0;
    top: 0;
}

.notifications {
    background-color: #E4FFE7;
    border: 3px solid #0D4F1D;
    width: 40%;
    height: 450px;
    border-radius: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 5% 8% 0px 8%;
}

.cards .card {
    width: 30%;
    font-weight: bold;
    font-size: 26px;
}

.cards .card img {
    max-height: 180px;
}

#cardType {
    color: #369949;
    font-size: 14px;
}

@media (max-width: 850px) {
    .dashboard-page {
        padding-left: 70px;
        padding-top: calc(9.5vh + 20px);
    }
}

@media (max-width: 900px) {
    .dashboard-page {
        padding-top: calc(15vh + 20px);
    }
}

@media (max-width: 530px) {
    .dashboard-page {
        padding-left: 0;
        padding-bottom: 70px;
        padding-top: calc(15vh + 20px);
    }
}