* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 15%;
    padding-top: calc(9.5vh + 20px);
}

.dashboard-content {
    display: flex;
    flex-direction: row;
    flex: 1;
}


@media (max-width: 850px) {
    .dashboard-page {
        padding-left: 70px;
        padding-top: calc(9.5vh + 20px);
    }
}

@media (max-width: 900px) {
    .dashboard-page {
        padding-top: calc(15vh + 20px);
    }
}

@media (max-width: 530px) {
    .dashboard-page {
        padding-left: 0;
        padding-bottom: 70px;
        padding-top: calc(15vh + 20px);
    }
}