* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 15%;
    padding-top: calc(9.5vh + 20px);
}

.dashboard-content {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.main-content {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    padding: 0px 30px;
    max-height: 60vh;
    border-bottom: 1px solid #0D4F1D;
}

img.d-block {
    max-height: 460px;
    width: 1000px;
}

.carousel.slide {
    max-width: 1000px;
    height: 460px;
    left: 0;
    top: 0;
}

.notifications {
    background-color: #E4FFE7;
    border: 3px solid #0D4F1D;
    width: 415px;
    height: 450px;
    border-radius: 20px;
}

@media (max-width: 850px) {
    .dashboard-page {
        padding-left: 70px;
        padding-top: calc(9.5vh + 20px);
    }
}

@media (max-width: 900px) {
    .dashboard-page {
        padding-top: calc(15vh + 20px);
    }
}

@media (max-width: 530px) {
    .dashboard-page {
        padding-left: 0;
        padding-bottom: 70px;
        padding-top: calc(15vh + 20px);
    }
}