* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.dashboard-page {
    display: block;
    padding-left: 15%;
    padding-top: calc(9.5vh + 20px);
    min-height: 100vh;
    /* força a área a crescer */
    overflow-y: auto;
    /* habilita scroll no conteúdo */
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 8%;
}

.main-content::after {
    content: '';
    position: absolute;
    bottom: -8%;
    width: calc(100% - 16%);
    border-bottom: 1px solid #0D4F1D;
    border-top: 10px;
}


img.d-block {
    height: 460px;
    filter: brightness(0.65);
}

.carousel.slide {
    max-width: 1000px;
    height: 460px;
    left: 0;
    top: 0;
    background: none;
    padding: 0;
    border-radius: 15px;
}

.carousel {
    width: 60%;
}

div.carousel-indicators {
    bottom: 0;
    margin: 0;
}

div.carousel-caption {
    font-size: 34px;
}

div.carousel-caption h3 {
    font-size: 34px;
    font-weight: bold;
}

.carousel-item img.d-block {
    width: 100%;
    height: 460px; /* controla a altura final */
    object-fit: cover; /* garante que a imagem preencha tudo */
    border-radius: 20px; /* opcional, igual na imagem que você mandou */
}

.carousel-indicators {
    background: none;
}

.notifications {
    background-color: #E4FFE7;
    border: 3px solid #0D4F1D;
    width: 35%;
    height: auto;
    border-radius: 15px;
}

.notifications-upper {
    height: 16%;
    border-bottom: #0D4F1D solid 3px;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 5% 8% 0px 8%;
}

.cards .card {
    width: 30%;
    border-radius: 20px 20px 15px 15px;
}

.cards .card img {
    max-height: 180px;
    border-radius: 15px 15px 0px 0px;
}

#cardType {
    color: #369949;
    font-size: 15px;
    font-weight: 6000;
    margin: 6px 0px 0px 0px
}

.cardText {
    font-weight: bold;
    font-size: 26px;
}

@media (max-width: 850px) {
    .dashboard-page {
        padding-left: 70px;
        padding-top: calc(9.5vh + 20px);
    }
}

@media (max-width: 900px) {
    .dashboard-page {
        padding-top: calc(15vh + 20px);
    }
}

@media (max-width: 530px) {
    .dashboard-page {
        padding-left: 0;
        padding-bottom: 70px;
        padding-top: calc(15vh + 20px);
    }
}