* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.dashboard-page {
    display: block;
    padding-left: 15%;
    padding-top: calc(9.5vh + 20px);
    min-height: 100vh;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0% 2%;
}

.main-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-content::after {
    content: '';
    position: absolute;
    bottom: -25px;
    width: 100%;
    border-bottom: 1px solid #0D4F1D;
    border-top: 10px;
}

img.d-block {
    height: 460px;
    filter: brightness(0.5);
}

.carousel.slide {
    max-width: 65%;
    height: 460px;
    left: 0;
    top: 0;
    background: none;
    padding: 0;
    border-radius: 10px;
}

.carousel {
    width: 65%;
}

.carousel-item img.d-block {
    width: 100%;
    height: 460px;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-indicators {
    background: none;
}

div.carousel-indicators {
    bottom: 0;
    margin: 0;
}


div.carousel-caption {
    position: absolute;
    left: 40px;
    right: auto;
    bottom: 40px;
    transform: none;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    max-width: 70%;
    text-align: left;
    padding: 0;
}

div.carousel-caption h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 8px 0;

    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.carousel-caption p {
    font-size: 20px;
    font-weight: 400;
    margin: 0;

    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-date {
    font-size: 14px;
    font-weight: 300;
    opacity: 0.8;
    margin-top: 6px;

    /* opcional: deixa a data mais suave */
    color: #f1f1f1;
}


.notifications {
    background-color: #E4FFE7;
    border: 3px solid #0D4F1D;
    width: 33%;
    height: auto;
    border-radius: 10px;
}

.notifications .bell-icon {
    font-size: 30px;
    color: #0D4F1D;
    margin-left: 15px;
}

.notifications-upper {
    height: 12%;
    border-bottom: #0D4F1D solid 3px;
    display: flex;
    align-items: center;
}

.cards {
    display: flex;
    padding-top: 50px;
    gap: 2%;
    flex-wrap: wrap;
}

.cards .card {
    width: 32%;
    border-radius: 15px 15px 10px 10px;
    margin-bottom: 25px;
}

.cards .card img {
    height: 180px;
    border-radius: 10px 10px 0px 0px;
}

#cardType {
    color: #369949;
    font-size: 15px;
    font-weight: 600;
    margin: 6px 0px 0px 0px;
}

.cardText p:last-child {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardText {
    font-weight: bold;
    font-size: 26px;
    padding: 0px 8px;
}


@media (max-width: 850px) {
    .dashboard-page {
        padding-left: 70px;
        padding-top: calc(9.5vh + 20px);
    }
}

@media (max-width: 900px) {
    .dashboard-page {
        padding-top: calc(15vh + 20px);
    }
}

@media (max-width: 530px) {
    .dashboard-page {
        padding-left: 0;
        padding-bottom: 70px;
        padding-top: calc(15vh + 20px);
    }
}
