* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.events-page {
    display: block;
    padding-left: 15%;
    padding-top: calc(9.5vh + 20px);
    min-height: 100vh;
}

.events-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0% 2%;
}

.sports-content{
   
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: center;
    position: relative;
    margin-bottom: 10%;
    
}
.sports-content img{
    width: 90px;
    height: 90px;
    margin: 0px 6px;
    object-fit: cover;  
    border-radius: 50%;
}
.sports-content img:hover{
    padding: 0.5%;
    filter: brightness(60%);

}

.sports-content::after {
    content: '';
    position: absolute;
    bottom: -20px;
    width: 100%;
    border-bottom: 1px solid #0D4F1D;
    border-top: 10px;
}



.events-page .cards {
    display: flex;
    width: 90%;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.event-card{
    width: 30%;
    margin-bottom: 5%;
    
   
}
.event-card:hover{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 0.5%;
}
.event-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: brightness(60%);
}

.event-card .sportsNewsId{
   color: #369949;
   margin: 2%;
   font-size: x-small;
}