* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.games-page {
    display: block;
    padding-left: 15%;
    padding-top: calc(5vh);
    min-height: 100vh;
}

.games-page a {
    text-decoration: none;
    color: inherit;
}

.games-content {
    width: 70%;
    margin-inline: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    background-color: #d8dcd7;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #0D4F1D;
    font-weight: bold;
    padding: 3%;
}

.games-content h2{
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    margin-bottom: 5%;
}

.games-content form {
    max-width: 1000px !important;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.games-content form .game-div{
    width: 40%;
    display: flex;
    flex-direction: column;
    
    
    justify-content: space-between;
}
.games-content form .game-colum {
    width: 100%;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.games-content form .game-colum .game-button {
    display: flex;
    justify-content: space-between;
}
#event-button-cancel{
    background-color: transparent;
    color: #0D4F1D;
}

.games-content form select,
.games-content form input,
.games-content form textarea,
.capa {
    border-radius: 8px;
    border: 1px solid grey;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    display: inline-block;
    height: 50px;
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    background-color: white;
}

.game-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.game-button button{
    width: 30%;
    height: 40px;
    background-color: #0D4F1D;
    margin-inline: auto;
    margin-block: 0.1rem;
    border-radius: 10px;
    color: white;
    border: 1px solid grey;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}