@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.news-page {
    display: block;
    padding-left: 15%;
    padding-top: calc(9.5vh + 20px);
    min-height: 100vh;
}

.news-page .news-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0% 2%;
}

.news-nav{
    display: flex;
}
#buttonAdd{
    width: 15%;
}
#buttonAdd button{
    width: 100%;
    height: 100%;
    background-color: white;
    color: #0D4F1D;
    border-radius: 10px;
    border: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}
#buttonAdd button:hover{
    border: 1px solid gray;
    
}

.news-page .buscar-content {
    width: 100%;
    display: flex;
    align-items: center;
}

.news-page .buscar-content #buscar {
    width: 80%;
    margin-left: 5%;
    position: relative;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.news-page .buscar-content label {
    position: relative;
    left: 4%;
}

.news-page .main-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    position: relative;
}

.news-page .main-content::after {
    content: '';
    position: absolute;
    bottom: -25px;
    width: 100%;
    border-bottom: 1px solid #0D4F1D;
    border-top: 10px;
}

.news-page .main-content .news-card {
    width: 49%;
    border-radius: 15px 15px 10px 10px;
}

.news-page .main-content .news-card img {
    width: 100%;
    height: 305px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(60%);
}

.news-card .text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}

.news-page .sliding-cards {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.news-page .sliding-cards::after {
    content: '';
    position: absolute;
    bottom: -25px;
    width: 100%;
    border-bottom: 1px solid #0D4F1D;
    border-top: 10px;
}

.news-page .sliding-cards .news-card {
    width: 23%;
    border-radius: 15px 15px 10px 10px;
    position: relative;
}

.news-page .sliding-cards .news-card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(60%);
}

.news-page .bottom-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    position: relative;
}

.news-page .bottom-content::after {
    content: '';
    position: absolute;
    bottom: -25px;
    width: 100%;
    border-bottom: 1px solid #0D4F1D;
    border-top: 10px;
}

.news-page .bottom-content .news-card {
    width: 49%;
    border-radius: 15px 15px 10px 10px;
}

.news-page .bottom-content .news-card img {
    width: 100%;
    height: 305px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(60%);
}

.addNews-content{
    width: 60%;
    margin: 5% 20%;
    background-color: #d7d9dc;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #0D4F1D;
    font-weight: bold;
    padding: 3%;
   
}
.addNews-content h2{
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    
}

.addNews-content form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
   
    
    
}
.addNews-content form select,.addNews-content input,.addNews-content textarea{
    width: 120%;
    border-radius: 8px;
    border: 1px solid grey;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    height: 50px;
    display: "inline-block";
    margin: 5px 0;
}
.addNews-content form button{
    width: 80%;
    height: 40px;
    background-color:#0D4F1D;
    margin: 20px 15%;
    border-radius: 10px;
    color: white;
    border: 1px solid grey;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.addNews-content form button:hover{
    filter: brightness(60%);
}



@media (max-width: 850px) {
    .news-page {
        padding-left: 70px;
        padding-top: calc(9.5vh + 20px);
    }

    .news-page .sliding-cards .news-card,
    .news-page .main-content .news-card {
        width: 48%;
    }
}

@media (max-width: 530px) {
    .news-page {
        padding-left: 0;
        padding-bottom: 70px;
        padding-top: calc(15vh + 20px);
    }

    .news-page .sliding-cards .news-card,
    .news-page .main-content .news-card {
        width: 100%;
    }
}