@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.news-page {
    display: block;
    padding-left: 15%;
    padding-top: calc(5vh);
    min-height: 100%;
}

.addnews-page {
    display: block;
    padding-left: 15%;
    min-height: 100%;
}


.news-page .news-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0% 8%;
}

.news-nav {
    display: flex;
}

#buttonAdd {
    width: 15%;
}

#buttonAdd button {
    width: 100%;
    height: 100%;
    background-color: white;
    color: #0D4F1D;
    border-radius: 10px;
    border: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

#buttonAdd button:hover {
    border: 1px solid gray;

}

.news-page .buscar-content {
    width: 100%;
    display: flex;
    align-items: center;
}

.news-page .buscar-content #buscar {
    width: 80%;
    margin-left: 5%;
    position: relative;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.news-page .buscar-content label {
    position: relative;
    left: 4%;
}

.news-page .main-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    position: relative;
}

.news-page .main-content::after {
    content: '';
    position: absolute;
    bottom: -25px;
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    border-top: 10px;
}

.news-page .main-content .top-news-card {
    width: 49%;
    border-radius: 15px 15px 10px 10px;
    position: relative;
}

.news-page .main-content .top-news-card img {
    width: 100%;
    height: 305px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(60%);
}

.top-news-card {
    cursor: pointer;
}

.top-news-card .top-news-content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}

.news-page .sliding-cards {
    display: flex;
    margin-top: 50px;
    justify-content: flex-start;
    gap: 2em;
    position: relative;
}

.news-page .sliding-cards::after {
    content: '';
    position: absolute;
    bottom: -25px;
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    border-top: 10px;
}

.news-page .sliding-cards .news-card {
    width: 23%;
    border-radius: 15px 15px 10px 10px;
    position: relative;
}

.news-page .sliding-cards .news-card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(60%);
}

.news-page .bottom-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 50px;
}

.news-page .bottom-content .news-card {
    width: 49%;
    border-radius: 15px 15px 10px 10px;
}

.news-page .bottom-content .news-card img {
    width: 100%;
    height: 305px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(60%);
}

.addNews-content {
    width: 60%;
    margin-inline: auto;
    margin-top: 3%;
    margin-bottom: 2%;
    background-color: #d8dcd7;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #0D4F1D;
    font-weight: bold;
    padding: 3%;

}

.addNews-content h2 {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;

}

.addNews-content form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.addNews-content form select,
.addNews-content input,
.addNews-content textarea,
.capa {
    border-radius: 8px;
    border: 1px solid grey;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    height: 50px;
    display: "inline-block";
    margin: 5px 0;
    padding: 10px;
}

.addNews-content form button {
    width: 15rem;
    height: 40px;
    background-color: #0D4F1D;
    border-radius: 10px;
    color: white;
    border: 1px solid grey;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.addNews-content form {
    max-width: 1000px !important;
    width: 100%;
}

.addNews-content form button:hover {
    filter: brightness(60%);
}

input[type="file"] {
    display: none;
}

.crop-wrapper {
    align-self: center;
    margin: 10px 0;
    max-width: 500px;
}

.image-selector-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem !important;
    height: 40px;
    background-color: #0D4F1D;
    margin-inline: auto;
    margin-block: 0.5rem;
    border-radius: 10px;
    color: white;
    border: 1px solid grey;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}


.image-preview {
    align-self: center;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin-top: 10px;
}

.input-icon {
    position: relative;
    width: 100%;
}

.input-icon .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #555;
    font-size: 16px;
}

.input-icon input,
.input-icon select {
    padding-left: 35px;
    width: 100%;
    height: 37px;
}

.textarea-icon {
    position: relative;
    width: 100%;
}

.textarea-icon .icon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #555;
    font-size: 16px;
}

.textarea-icon textarea {
    padding-left: 35px;
    width: 100%;
    min-height: 150px;
    resize: vertical;
}

.image_name {
    margin-left: 5px;
    font-size: 14px;
    color: #555;
}

.input-label {
    margin-left: 35px;
    cursor: pointer;
}

.news-form-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 850px) {
    .news-page {
        padding-left: 70px;
        padding-top: calc(9.5vh + 20px);
    }

    .news-page .sliding-cards .news-card,
    .news-page .main-content .news-card {
        width: 48%;
    }
}

@media (max-width: 530px) {
    .news-page {
        padding-left: 0;
        padding-bottom: 70px;
        padding-top: calc(15vh + 20px);
    }

    .news-page .sliding-cards .news-card,
    .news-page .main-content .news-card {
        width: 100%;
    }
}

/* Estilo dos cards do centro */

.center-news-card {
    width: 23%;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.35s ease, box-shadow 0.35s ease;
    cursor: pointer;
}

.center-news-card:hover {
    transform: translateY(-4px);
}

.center-news-card:hover .center-news-info p, .center-news-card:hover .center-news-info h4 {
    color: rgb(27, 109, 24);
    transition: .3s;
}

.center-news-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    display: block;
    border-radius: 14px;
}

.center-news-info {
    padding: 3px;
    color: #1e1e1e;
}

.center-news-info h4 {
    font-size: 15px;
    font-weight: 700;
    margin: 3px 0;
    line-height: 1.3;
    transition: .3s;
}

.center-news-info p {
    font-size: 13px;
    line-height: 1.4;
    color: #555;
    transition: .3s;
}

.center-news-card .sportsNewsId {
    display: flex;
    align-items: center;
    margin: 2px 2px 0;
    font-size: 15px;
    font-weight: 600;
}

/* Estilo dos cards da seção inferior */

.bottom-news-card {
    width: 100%;   /* IMPORTANTE */
    height: 8em;
    display: flex;
    gap: 15px;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 1.5rem;
    border-radius: 14px;
}

.bottom-news-card:hover {
    transform: translateX(4px);
}

.bottom-news-image {
    width: 15rem;
}

.bottom-news-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 14px;
}

.bottom-news-content {
    width: 65%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-news-card .sportsNewsId {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 13px;
    font-weight: 600;
}

.bottom-news-content h4 {
    font-size: 12px;
    font-weight: 700;
    margin: 6px 0;
    line-height: 1.3;
    color: #1e1e1e;
    transition: .3s;
}

.bottom-news-desc {
    font-size: 11px;
    color: #555;
    margin: 0;
}

.bottom-news-card:hover h4,
.bottom-news-card:hover .bottom-news-desc,
.bottom-news-card:hover {
    background-color: #eeeeee;
    color: rgb(27, 109, 24);
}

.bottom-news-content:hover h4 {
    text-decoration: underline;
}