@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.profile-page {
    display: block;
    padding-left: 15%;
    padding-top: calc(9.5vh + 20px);
    min-height: 100vh;
}

.profile-page .profile-content {
    display: flex;
    border-radius: 10px;
    width: 70%;
    height: 70vh;
    padding: 0% 2%;
    background-color:#d8dcd7; ;
    margin-left: 15%;
    
}

.profile-page .profile-content .profile-info img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-page .profile-content .profile-games,.profile-page .profile-content .profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    
    padding: 5%;
    
}
.profile-page .profile-content .profile-info img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile-page .profile-content .profile-info div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
}
.profile-page .profile-content .profile-info .card{
    padding: 2%;
    width: 100%;
    margin-top: 2%;
    color: darkgreen;
    
}