:root[data-theme='dark'] .atleta-card p {
    color: #ffffff;
}

:root[data-theme='dark'] .athletes-page .title {
    color: #ffffff;
}

:root[data-theme='dark'] .athletes-page .search-icon {
    color: #ffffff;
}

:root[data-theme='dark'] .athletes-page .search-bar input,
:root[data-theme='dark'] .athletes-page .search-bar input::placeholder {
    color: #767676;
    background-color: #242424;
}



:root[data-theme="dark"] body {
    background-color: #000000e2;
    color: #e5e7eb;
}

:root[data-theme="dark"] .sports-content::after {
    border-bottom-color: #e5e7eb;
}

:root[data-theme="dark"] .sport-filter-label {
    color: #e5e7eb;
}

:root[data-theme="dark"] .addEvents-content {
    background-color: #33333338;
    color: #e5e7eb;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

:root[data-theme="dark"] .addEvents-content h2 {
    color: #e5e7eb;
}

:root[data-theme="dark"] .addEvents-content form select,
:root[data-theme="dark"] .addEvents-content form input,
:root[data-theme="dark"] .addEvents-content form textarea,
:root[data-theme="dark"] .capa {
    background-color: #333232;
    color: #e5e7eb;
    border-color: #333333;
}

:root[data-theme="dark"] .initiation-flag {
    color: #e5e7eb;
}

:root[data-theme="dark"] .event-card {
    background-color: #fefdfd16;
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.7);
}

:root[data-theme="dark"] .event-card h5 {
    color: #ffffff;
}

:root [data-theme="dark"] .event-gamme-list{
    color: #e5e7eb;
}

:root[data-theme="dark"] #buttonAdd button {
    color: #ffffff;
    background-color: #333333;
}

:root[data-theme="dark"] p.timeAgoInfo {
    font-size: 12px;
    color: #ffffff;
    padding: 0px 8px;
}

:root[data-theme="dark"] .event-details {
    background-color: #333333;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
}

:root[data-theme="dark"] .event-category-chip {
    background-color: #202020;
    color: #e5e7eb;
}

:root[data-theme="dark"] .event-details-header h1 {
    color: #e5e7eb;
}

:root[data-theme="dark"] .event-details-subtitle {
    color: #9ca3af;
}

:root[data-theme="dark"] .event-details-info h2 {
    color: #e5e7eb;
}

:root[data-theme="dark"] .event-details-info p {
    color: #e5e7eb;
}

:root[data-theme="dark"] .event-meta-item {
    background-color: #202020;
    border: 1px solid #1f2937;
}

:root[data-theme="dark"] .event-meta-label {
    color: #9ca3af;
}

:root[data-theme="dark"] .event-meta-value {
    color: #e5e7eb;
}

:root[data-theme="dark"] .event-button-secondary {
    background-color: transparent;
    color: #e5e7eb;
    border-color: #e5e7eb;
}

:root[data-theme="dark"] .event-button-danger {
    background-color: #b91c1c;
}

:root[data-theme="dark"] .addEvents-content form button,
:root[data-theme="dark"] .image-selector-button {
    background-color: #0D4F1D;
    border-color: #0D4F1D;
}

:root[data-theme="dark"] .event-details-loading {
    color: #e5e7eb;
}






:root[data-theme="dark"] .profile-page {
    background-color: #202020;
    color: #e5e7eb;
}

:root[data-theme="dark"] .profile-card {
    background-color: #33333338;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

:root[data-theme="dark"] .profile-name {
    color: #ffffff;
}

:root[data-theme="dark"] .profile-info-card {
    background: #333232;
}

:root[data-theme="dark"] .profile-info-label {
    color: #9ca3af;
}

:root[data-theme="dark"] .profile-info-value {
    color: #f3f4f6;
}

:root[data-theme="dark"] .edit-avatar-btn {
    background: #14532d;
    color: #ffffff;
}

:root[data-theme="dark"] .modal-overlay {
    background: rgba(0, 0, 0, 0.75);
}

:root[data-theme="dark"] .modal-content {
    background: #333333;
    color: #e5e7eb;
}

:root[data-theme="dark"] .modal-btn.cancel {
    background: #1f2937;
    color: #e5e7eb;
}

:root[data-theme="dark"] .modal-btn.save {
    background: #14532d;
    color: white;
}

:root[data-theme="dark"] .crop-container img {
    filter: brightness(0.9);
}



:root[data-theme='dark'] .settings-header p {
    color: #9ca3af;
}

:root[data-theme='dark'] .settings-header h1 {
    color: #ffffff;
}

:root[data-theme='dark'] .settings-page {
    background-color: #071204;
}

:root[data-theme='dark'] .settings-card {
    background-color: #202020;
}

:root[data-theme='dark'] .settings-card p {
    color: #9ca3af;
}

:root[data-theme='dark'] .settings-card h2 {
    color: #ffffff;
}

:root[data-theme='dark'] .theme-status {
    color: #9ca3af;
}

:root[data-theme='dark'] .theme-status strong {
    color: #E3B52E;
}



:root[data-theme='dark'] .sidebar,
:root[data-theme='dark'] .logout {
    background-color: #06200d;
    border-color: #0C3617;
}



:root[data-theme='dark'] .header {
    background-color: #06200d;
}


:root[data-theme='dark'] .news-page .news-details-header h1 {
    color: #e5e7eb;
}

:root[data-theme='dark'] .news-page .news-details-header h3 {
    color: #737373;
}

:root[data-theme='dark'] .news-page .news-details-subtitle {
    color: #9ca3af;
}

:root[data-theme='dark'] .news-page .news-details-info p{
    color: #e5e7eb;
}

:root[data-theme='dark'] .div.notification-card {
    border: #E3B52E;
}

:root[data-theme='dark'] .event-game-card{
    color: #e5e7eb;
    background-color: #3333339c;
}

:root[data-theme='dark'] .event-game-card{
    color: #e5e7eb;
    background-color: #3333339c;
}
:root[data-theme="dark"] .sportsNewsId:has(.chessIcon),
:root[data-theme="dark"] .chessIcon {
    color: #f3dcbd;
    margin-bottom: 3px;
}
:root[data-theme="dark"] .initiation-filter-btn{
    color: white;
}
:root[data-theme="dark"] #event-button-cancel{
    background-color: transparent;
    color: white;
}
:root[data-theme="dark"] .event-game-info{
    background-color: #3333339c;
    color: white;
}
:root[data-theme="dark"] .edit-mode input{
    background-color:#242424 ;
    color: white;

}
:root[data-theme="dark"] .edit-mode textarea{
    background-color:#242424 ;
    color: white;
}
:root[data-theme="dark"] .games-content{
    background-color: #33333338;
    color: white;
}
:root[data-theme="dark"] .games-content form input{
    background-color: #333232;

}
:root[data-theme="dark"] .games-content form textarea{
    background-color: #333232;

}
:root[data-theme="dark"] .game-button .bnt-cancel{
    background-color: transparent;
    color: white;
}
:root[data-theme="dark"] .event-comments-form textarea{
    background-color: #333232;
}
:root[data-theme="dark"] .event-comment-card {
    background-color: #333232;
    color: white;
}
:root[data-theme="dark"] .event-comment-card p{
    color: white;
}
:root[data-theme="dark"] .addNews-content{
    background-color: #33333338;
    color: white;
}
:root[data-theme="dark"] .addNews-content input {
    background-color: #333232;
    color: white;
}
:root[data-theme="dark"] .textarea-icon #conteudo{
    background-color: #333232;
    color: white;
}
:root[data-theme="dark"] .input-icon #categorias{
    background-color: #333232;
    color: white;
}
:root[data-theme="dark"] .input-icon #prioridades{
    background-color: #333232;
    color: white;
}

:root[data-theme="dark"] .news-form-buttons .bnt-cancel{
    background-color: transparent;
}

:root[data-theme="dark"] .user-card{
    background-color:#333232 ;
}
:root[data-theme="dark"] .addNews-content .filter-buttons button,.addNews-content .button-secondary {
    background-color: transparent;
    color: white;
}
:root[data-theme="dark"] .addNews-content .filter-buttons .active{
    background-color: #14532d;
    color: white;
}
:root[data-theme="dark"] .news-form-buttons button{
    background-color: #06200d;
    color: white;

}
:root[data-theme="dark"] .addNews-content select{
    background-color: #333232;
    color: white;
}
:root[data-theme="dark"]  .buscar-content #buscar{
    background-color: #333232;
}
:root[data-theme="dark"] .news-category-filter{
    background-color: #333232;
    color: white;
}
:root[data-theme="dark"]  .news-actions .news-button-secondary{
    background-color: #333232;
    color: white;
}
:root[data-theme="dark"]  .news-comments textarea{
    background-color: #333232;
    color: white;
}
:root[data-theme="dark"]  .news-comment-card{
    background-color: #333232;
    color: white;

}
:root[data-theme="dark"]  .news-comment-card .news-comment-content{
    background-color: #333232;
    color: white;

}
:root[data-theme="dark"] .news-comment-dropdown button {
    background: #242424;
    color: white;
}
:root[data-theme="dark"] .news-comment-dropdown .danger {
    background: #242424;
    color: red;
}
:root[data-theme="dark"] .event-comment-dropdown button{
    background: #242424;
    color: white;
}
:root[data-theme="dark"] .event-comment-dropdown .danger {
    background: #242424;
    color: red;
}
